:root{
    --verde-1: #226F54;
    --verde-2: #87C38F;
    --rojo: #DA2C38;
    --crema: #F4F0BB;
    --marron: #43291F;
}
.Calendar{
    height: 200px; /* altura fija */
    overflow-y: auto; /* permite scroll vertical cuando el contenido se desborda */
    border: 1px solid #ccc; /* opcional, para que se vea el contenedor */
} 
.row{
    background-color: white;
}
header{
    display: flex;
    justify-content: center;
    /*padding: 10% 0% 10% 0%; */
}
header img{
    width: 100px;
    height: 100px;
}
header p{
    margin: 3%;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.img{
    display: flex;
    justify-content: left;
    margin-right: 15%;
}
header{
    background-color: #87C38F;
}
.box{ 
    background-color: #226F54;
    margin: 10px;
    text-align: center;
    justify-content: center;
    color: var(--verde-2);
}
.botones{
    display: flex;
    justify-content: right;
    align-items: end;


}

.indumentaria{
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;

    align-items: center;
    background-color: var(--verde-1);
    width: 100%;
    height: 100%;
}
.card{
    width: 100%;
    height: 100%;
}
.card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.novedades{
    display: flex;
    margin-left: 5%;
    justify-content: center;
    width: 90%;
    height: 30%;
}
.carrusel{
    padding: 3%;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2%;
}

h5{
    font-size: 5%;
    background-color: var(--verde-2);
    
}
